<div class="dashboard-psychologist">
  <div style="display: flex; height: 100vh;">
    <aside class="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><%= link_to "Start", root_path %></li>
        <li><%= link_to "Messages"%></li>
        <li><%= link_to "Schedules", schedules_path %></li>
        <li><%= link_to "Appointments", appointments_path %></li>
        <li><%= link_to "Sessions", requests_path %></li>
      </ul>
    </aside>
  </div>

  <section class="chat">
    <h2>Chat with the patient</h2>
    <div class="chat-box">
      <p><strong>Patient</strong> I feel so bad.</p>
      <p><strong>Psychologit:</strong> Vamos a explorar eso juntos.</p>
    </div>
  </section>
</div>
