<div class="container py-5">
  <h2 class="mb-4 text-center fw-bold text-success">Psychologist Profile</h2>
  <table class="table table-bordered text-center align-middle">
    <thead class="table-light">
      <tr>
        <th class="text-success">Photo</th>
        <th class="text-success">Name</th>
        <th class="text-success">Contact</th>
        <th class="text-success">Bio</th>
        <th class="text-success">Experience</th>
        <th class="text-success">Modality</th>
        <th class="text-success">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @psychologist.avatar.attached? %>
            <%= cl_image_tag @psychologist.avatar.key, class: "rounded-circle", style: "object-fit: cover; width: 40px; height: 40px;" %>
          <% else %>
            <%= image_tag "default_avatar.jpg", class: "rounded-circle", style: "object-fit: cover; width: 40px; height: 40px;" %>
          <% end %>
        </td>
        <td>
          <strong><%= @psychologist.first_name %> <%= @psychologist.last_name %></strong>
        </td>
        <td>
          <%= @psychologist.email %>
        </td>
        <td>
          <%= @psychologist.psychologist_profile&.bio %>
        </td>
        <td>
          <%= @psychologist.psychologist_profile&.experience %>
        </td>
        <td>
          <%= @psychologist.psychologist_profile&.modelity %>
        </td>
        <td>
          <%= button_to 'Request', therapy_requests_path(psychologist_id: params[:id]), class: 'btn btn-success rounded-pill' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
