<div class="container py-5">
  <h2 class="mb-4 text-center fw-bold text-success">Psychologist Profile</h2>
  <table class="table table-bordered text-center align-middle">
    <thead class="table-light">
      <tr>
        <th class="text-success">Photo</th>
        <th class="text-success">Name</th>
        <th class="text-success">Contact</th>
        <th class="text-success">Bio</th>
        <th class="text-success">Experience</th>
        <th class="text-success">Modality</th>
        <th class="text-success">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= image_tag "https://t4.ftcdn.net/jpg/11/66/06/77/360_F_1166067709_2SooAuPWXp20XkGev7oOT7nuK1VThCsN.jpg", class: "rounded-circle mb-2 shadow", style: "width: 100px; height: 100px; object-fit: cover;" %>
        </td>
        <td>
          <strong><%= @psychologist.first_name %> <%= @psychologist.last_name %></strong>
        </td>
        <td>
          <%= @psychologist.email %>
        </td>
        <td>
          <%= @psychologist.psychologist_profile&.bio %>
        </td>
        <td>
          <%= @psychologist.psychologist_profile&.experience %>
        </td>
        <td>
          <%= @psychologist.psychologist_profile&.modelity %>
        </td>
        <td>
          <%= button_to 'Request', therapy_requests_path(psychologist_id: params[:id]), class: 'btn btn-success rounded-pill' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
