<div class="therapy-requests-wrapper">
  <h1>Therapy Requests</h1>
  <ul class="therapy-request-list">
    <% @requests.each do |request| %>
      <li class="therapy-request-item">
        <% if current_user.role == "patient" %>
          <div>
            <strong>Psychologist:</strong>
            <%= request.psychologist.first_name %> <%= request.psychologist.last_name %>
          </div>
        <% else %>
          <div>
            <strong>Patient:</strong>
            <%= request.patient.first_name %> <%= request.patient.last_name %>
          </div>
        <% end %>

        <div>
          <strong>Status:</strong> <%= request.status.capitalize %>
        </div>

        <div class="actions">
          <% if current_user.role == 0 %>
            <%= link_to 'Cancel', therapy_request_path(request), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to cancel this request?"
                }, class: "btn-cancel" %>
          <% else %>
            <%= link_to 'Appointments', new_psychologist_appointment_path(request.psychologist_id), class: 'btn btn-success' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
