<ul>
<% @requests.each do |request| %>
  <% if current_user.role == "patient" %>
    <li>
      <%= request.psychologist.first_name %>
      <%= request.psychologist.last_name %>
      <%= request.status %>
      <%= link_to 'Cancel', therapy_request_path(request) , data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?",
          }  %>
    </li>
  <% else %>
    <li>
      <%= request.patient.first_name %>
      <%= request.patient.last_name %>
      <%= request.status %>
      <%= link_to 'Aprove',  therapy_request_path(request), data: { turbo_method: :patch }%>
    </li>
  <% end %>
<% end %>
</ul>
