<div class="container py-5">
  <div class="text-center mb-4">
    <h1 class="fw-bold" style="color: #4B9857;">📝 Therapy Requests</h1>
  </div>

  <div class="table-responsive d-flex justify-content-center bg-white">
    <table class="table table-hover align-middle shadow-sm w-auto">
      <thead>
        <tr style="background-color: #3E6029;">
          <th scope="col" class="fw-semibold text-center">Name</th>
          <th scope="col" class="fw-semibold text-center">Role</th>
          <th scope="col" class="fw-semibold text-center">Status</th>
          <th scope="col" class="fw-semibold text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <% if current_user.role == 0 %>
              <td><%= request.psychologist.first_name %> <%= request.psychologist.last_name %></td>
              <td><span class="badge bg-success">Psychologist</span></td>
            <% else %>
              <td class="d-flex align-items-center gap-2">
              <% user = current_user.role == 0 ? request.psychologist : request.patient %>
              <% if user.avatar.attached? %>
                <%= cl_image_tag user.avatar.key, class: "rounded-circle", style: "object-fit: cover; width: 50px; height: 50px;" %>
              <% else %>
                <%= image_tag "default-avatar.png", class: "rounded-circle", style: "width: 50px; height: 50px;" %>
              <% end %>
              <span><%= user.first_name %> <%= user.last_name %></span>
            </td>

              <td><span class="badge bg-primary">Patient</span></td>
            <% end %>

            <td>
              <% case request.status %>
                <% when 'pending' %>
                  <span class="badge rounded-pill bg-warning text-dark">Pending</span>
                <% when 'accepted' %>
                  <span class="badge rounded-pill bg-success">Accepted</span>
                <% when 'cancelled' %>
                  <span class="badge rounded-pill bg-danger">Cancelled</span>
                <% else %>
                  <span class="badge rounded-pill bg-secondary">Unknown</span>
              <% end %>
            </td>

            <td class="text-nowrap">
              <% if current_user.role == "patient" %>
                <%= link_to 'Appointments', new_psychologist_appointment_path(request.psychologist_id), class: 'btn btn-outline-success btn-sm me-1 mb-1' %>
                <%= link_to 'Cancel', therapy_request_path(request), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this request?" }, class: "btn btn-outline-danger btn-sm mb-1" %>
              <% else %>
                <%= link_to 'Accept', therapy_request_path(request), data: { turbo_method: :patch }, class: 'btn btn-success btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
