<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="signup-container">
        <div class="signup-header text-center">
          <%# if psychologist.avatar.attached? %>
            <%#= cl_image_tag psychologist.avatar.key, class: "rounded-circle", style: "object-fit: cover; width: 60px; height: 60px;" %>
          <%# else %>
            <%#= cl_image_tag "default-avatar", class: "rounded-circle", style: "width: 60px; height: 60px;" %>
          <%# end %>

          <h2 class="fw-bold text-success"><%= @psychologist.first_name %> <%= @psychologist.last_name %></h2>
          <p>Request an Appointment</p>
        </div>

        <div class="signup-body">
          <%= simple_form_for [@psychologist, @appointment], url: psychologist_appointments_path do |f| %>
            <div class="form-inputs">
              <div class="form-group mb-4">
                <%= f.label :scheduled_at, "📅 Choose a date", class: "form-label fw-bold text-success" %>
                <%= f.input_field :scheduled_at, as: :date, html5: true, class: "form-control p-3 rounded-3" %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :format, "💬 Format", class: "form-label fw-bold text-success" %>
                <%= f.select :format, Appointment.formats.keys.map { |f| [f.humanize, f] }, { prompt: "Select format" }, class: "form-control p-3 rounded-3" %>
              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Send Appointment", class: "btn btn-primary btn-signup w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
