<!DOCTYPE html>
<html>
  <head>
    <title>Mindme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "application" %>
  </head>


  <body><%= render "shared/navbar", minimal: @hide_navbar %>
  <div class="navbar-spacer"></div>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>
    <%= javascript_include_tag "application", type: "module" %>
    <%= yield %>
  </body>
</html>
